temperature: 0
max_tokens: 0
max_context_window: 200000
base_url: https://api.moonshot.cn/v1
api_key: sk-WUytBnyvqpCtEEs12xw9tMiv5KoR32qquFAifcTepx1XP5ww
models:
- openai/kimi-k2-thinking
figure_models:
#无效了
- google/gemini-3-pro-image-preview
compressor_models:
- openai/kimi-k2-thinking
read_figure_models:
- openai/kimi-latest

